<h1>Booking</h1>
checkin date = <%= @checkin_date%>
checkout date = <%= @checkout_date%>
<%=@number_of_night%>
<p><%= @property.name%></p>
<p><%=@base_fare%></p>
<p><%=@service_fee%></p>
<p><%=@total_fare%></p>
