<div class="mx-auto max-w-7xl lg:flex lg:gap-x-16 lg:px-8">
  <main class="px-8 my-8 lg:flex-auto">
    <div>
      <h2 class="text-2xl font-semibold leading-7 text-gray-900">Add Review</h2>
    </div>
<div class="mt-4 border border-gray-300 rounded-2xl p-6 h-min">
    <div class="flex justify-between">
        <div class="flex items-center">
        <%= image_tag @reservation.property.images[0], class:"w-24 h-24 object-cover rounded-md"%>
            <div class="ml-3 text-black font-medium">
                <div class=><%= @reservation.property.name %> - <%= @reservation.property.city %>, <%= @reservation.property.state %></div>
                    <span class="inline-flex items-center pointer-events-none block text-sm text-black mt-2">
                        <svg class="mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="display: block; height: 12px; width: 12px; fill: currentcolor;">
                            <path fill-rule="evenodd" d="m15.1 1.58-4.13 8.88-9.86 1.27a1 1 0 0 0-.54 1.74l7.3 6.57-1.97 9.85a1 1 0 0 0 1.48 1.06l8.62-5 8.63 5a1 1 0 0 0 1.48-1.06l-1.97-9.85 7.3-6.57a1 1 0 0 0-.55-1.73l-9.86-1.28-4.12-8.88a1 1 0 0 0-1.82 0z"></path>
                        </svg>
                        <%= @reservation.property.average_final_rating.round(2) %> (<%= @reservation.property.reviews_count %> reviews)
                    </span>
                </div>
            </div>
        </div>
        <div class="mt-4 relative py-6">
            <div class="absolute inset-0 flex items-center" aria-hidden="true">
                <div class="w-full border-t border-gray-300"></div>
            </div>
        </div>
        <div>
            <%= form_with url: reservation_reviews_path do |form| %>
                <%= form.hidden_field :user_id, value: current_user.id %>
                <%= form.hidden_field :property_id, value: @reservation.property_id %>
                <div class='flex flex-col py-4 max-w-96 rounded-md'>
                 <%= form.label :content, class: 'block text-sm font-medium text-gray-900 leading-6'%>
                 <%= form.text_area :content%>
                </div>

                <div data-controller='rating' class="max-w-96">
                    <%= render :partial => 'reviews/ratings', :locals => {:form => form, category_rating: 'cleanliness_rating'}%>
                    <%= render :partial => 'reviews/ratings', :locals => {:form => form, category_rating: 'accuracy_rating'}%>
                    <%= render :partial => 'reviews/ratings', :locals => {:form => form, category_rating: 'checkin_rating'}%>
                    <%= render :partial => 'reviews/ratings', :locals => {:form => form, category_rating: 'communication_rating'}%>
                    <%= render :partial => 'reviews/ratings', :locals => {:form => form, category_rating: 'location_rating'}%>
                    <%= render :partial => 'reviews/ratings', :locals => {:form => form, category_rating: 'value_rating'}%>
                </div>
                
                <%= form.submit "Submit Review", class:"cursor-pointer mt-5 flex items-center justify-center rounded-md border border-transparent bg-primary px-8 py-3 text-base font-medium text-white hover:bg-primary-dark focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2" %>
            <% end %>
        </div>


        </div>
    </main>
</div>